<form method="post" action="{{ path('app_tablette_delete', {'id': tablette.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tablette.id) }}">
    <button class="btn">Delete</button>
</form>
