{% extends 'base.html.twig' %}

{% block title %}Edit Tablette{% endblock %}

{% block body %}
    <h1>Edit Tablette</h1>

    {{ include('tablette/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tablette_index') }}">back to list</a>

    {{ include('tablette/_delete_form.html.twig') }}
{% endblock %}
