{% extends 'base.html.twig' %}

{% block title %}Tablette index{% endblock %}

{% block body %}
    <h1>Tablette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tablette in tablettes %}
            <tr>
                <td>{{ tablette.id }}</td>
                <td>{{ tablette.name }}</td>
                <td>
                    <a href="{{ path('app_tablette_show', {'id': tablette.id}) }}">show</a>
                    <a href="{{ path('app_tablette_edit', {'id': tablette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tablette_new') }}">Create new</a>
{% endblock %}
