{% extends 'base.html.twig' %}

{% block title %}New Tablette{% endblock %}

{% block body %}
    <h1>Create new Tablette</h1>

    {{ include('tablette/_form.html.twig') }}

    <a href="{{ path('app_tablette_index') }}">back to list</a>
{% endblock %}
