{% extends 'base.html.twig' %}

{% block title %}Tablette{% endblock %}

{% block body %}
    <h1>Tablette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tablette.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tablette.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tablette_index') }}">back to list</a>

    <a href="{{ path('app_tablette_edit', {'id': tablette.id}) }}">edit</a>

    {{ include('tablette/_delete_form.html.twig') }}
{% endblock %}
